<!DOCTYPE html>
<html>
<head>
  <title>Proyecto1</title>
  <style>
      table, th, td {
        border: 1px solid aliceblue;
      }
  </style>
</head>
<body>
      <header class="header">
        <div class="Series">
          <button type="button" style="float: right;">Series</button>
        </div>
        <div class="Peliculas">
          <button type="button" style="float: right;">Peliculas</button>
        </div>
        <H1 style="color: aliceblue;">PelisUp!</H1>
        <p style="color: aliceblue;">plataforma para ver peliculas y series</p>

      </header>
      <section class="content">
          <form>
            <input type="text" placeholder="Busca tu pelicula o serie"/>
          </form>
        <br>
        <br>
            <h3>Todos</h3>
        <div> 
          <table class="table">
            <thead>
              <tr>
                <th>Peli 1</th>
                <th>Peli 2</th>
                <th>Peli 3</th>
              </tr>
            </thead>
              <tr>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
              </tr>
          </table>
        </div>
        <br>
        <br>   
      </section>
      <footer class="footer">
        <p style="color: antiquewhite;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur provident sed distinctio nihil accusantium, dolor aliquam optio eius exercitationem</p>
      </footer>
</body>
</html>